.elements {
  padding: 0;
}
.navbar-brand {
  padding: 0;
  margin-top: 20px;
  text-align: center;
}
.elements > li.title-secction {
  font-size: 13px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
li > span {
  padding: 13px;
}
.elements > li.title-secction:hover {
  border-right: 0;
  background-color: #1d242e;
}
.elements > li {
  list-style: none;
  padding: 10px;
}
.elements > li:hover {
  border-right: 4px #2a77c7 solid;
}
.elements > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  padding-left: 20px;
}
.elements > li:hover > a {
  color: #2a77c7;
  font-size: 0.9rem;
  font-weight: 700;
}
.elements > li > a > i {
  padding: 0 4px;
  margin-right: 10px;
}
.elements > h5 {
  padding-left: 30px;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 20px;
}
