<div class="row">
  <a class="navbar-brand" routerLink="/dashboard"
    ><img
      src="../../assets/images/logo_white_large.png"
      alt=""
      width="auto"
      height="24"
      class="d-inline-block align-text-top"
  /></a>
  <ul class="elements">
    <h5>Menu</h5>
    <li>
      <a routerLink="/dashboard"> <i class="far fa-compass"></i> Descubre </a>
    </li>
    <li>
      <a routerLink="/dashboard">
        <i class="fas fa-chart-bar"></i> Tendencias
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/in_progress">
        <i class="fas fa-print"></i> Generos
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/album">
        <i class="fas fa-compact-disc"></i> Album
      </a>
    </li>
    <h5>Libreria</h5>
    <li>
      <a routerLink="/dashboard/in_progress">
        <i class="far fa-calendar-check"></i> Recientes
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/playlist">
        <i class="fas fa-play-circle"></i> Playlists
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/in_progress">
        <i class="fas fa-heart"></i> Favoritos
      </a>
    </li>
    <h5>Personaliza</h5>
    <li>
      <a routerLink="/dashboard/playlist/new">
        <i class="fas fa-plus-square"></i> Nueva playlist
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/account">
        <i class="fas fa-user"></i> Cuenta
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/in_progress">
        <i class="fas fa-cog"></i> Configuracion
      </a>
    </li>
  </ul>
</div>
