<div class="grid-container">
  <div class="grid-item">
    <img src="../../../../assets/images/musica.png" class="imagen-playlist" />
  </div>
  <div class="grid-item">
    <h6>Descripcion del album</h6>
    <h1>Nombre del album</h1>
  </div>
  <!-- <hr /> -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center id-column" scope="col">#</th>
          <th scope="col title-column">Titulo</th>
          <th class="text-center time-column" scope="col">
            <i class="fas fa-clock"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1</td>
          <td>Welcome to the jungle</td>
          <td class="text-center">4:29</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
