<div class="non-padding">
    <div class="col-lg-6 logo-part antara-font image-music">
        <div class="full-screen 
                    d-flex align-items-center 
                    justify-content-center 
                    align-content-center 
                    text-center flex-column">
            <img src="../../assets/images/logo_white_large.png" class="logo-antara" alt="antara_logo" />
            <div class="division"></div>
            <div class="titulo">
                <h1>Ingresar</h1>
            </div>
            <p>¿Aun no tienes cuenta? <a href="/register" class="register"> Registrarme</a></p>

        </div>
    </div>
    <div class="col-lg-6 register-part">
        <div class="full-screen 
                d-flex align-items-center 
                justify-content-center 
                align-content-left 
                 flex-column">
            <div class="col-8 antara-font">
                <div class="mb-3 row">
                    <label for="exampleInputEmail1" class="form-label ">Correo</label>
                    <input type="email" class="form-antara" id="exampleInputEmail1" [(ngModel)]="auth.email" placeholder="Correo" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 row">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-antara" [(ngModel)]="auth.password" placeholder="Contraseña" id="exampleInputPassword1">
                </div>
                <div class="mb-3 row">
                    <button class="btn btn-primary" (click)="login()">
                        Ingresar
                    </button>

                </div>
                <div class="mb-3 row">
                    <button class="btn btn-light">
                        <i class="fab fa-google fa-rojo"></i> Ingresar con Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>