<div class="home-bg">
  <div class="home-container">
    <header class="home-header">
      <img class="logo" src="../../assets/images/logo.svg" alt="" />
      <nav class="nav-bar">
        <img
          class="dropdown-icon"
          src="../../assets/images/menu_black_24dp.svg"
          alt="menu"
          (click)="dropNavbar()"
        />
        <ul class="nav-bar-menu">
          <li class="nav-bar-item">
            <a href="">Ayuda</a>
          </li>
          <li class="nav-bar-item">
            <a href="/register">Registrarte</a>
          </li>
          <li class="nav-bar-item">
            <a href="/login">Iniciar Sesión</a>
          </li>
          <!--<li class="nav-bar-item button">
                        <a href="">Descargar</a>
                    </li>-->
        </ul>
      </nav>
    </header>
    <main class="home-body">
      <section class="home-body-info">
        <div>
          <h1 class="home-body-info-title">
            Trae tu pasión y nosotros ponemos la música.
          </h1>
          <p class="home-body-info-text">
            Crea playlists y álbumes inspirados en los artistas y generos que
            más te identifican.
          </p>
          <div class="disponible-en">
            <img src="../../assets/images/play-store.png" alt="play_store" />
            <img src="../../assets/images/app-store.png" alt="app_store" />
          </div>
        </div>
      </section>
      <section class="img">
        <img
          src="../../assets/images/undraw_happy_music_g6wc.svg"
          alt="imagen"
        />
      </section>
    </main>
    <!--     <div class="card-home">
      <h2>sdfsdf</h2>
      <img src="../../assets/images/play_arrow_black_24dp.svg" alt="" />
    </div>
    <div class="card-home">
      <h2>sdfsdf</h2>
      <img src="../../assets/images/play_arrow_black_24dp.svg" alt="" />
    </div>
  </div> -->
  </div>
</div>
