.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 30%;
}
.img-container {
  object-fit: fill;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-height: 150px;
  max-width: 150px;
  height: 100%;
  width: 100%;
}

.info-container {
  padding: 20px 0 0 20px;
}

.table-container {
  padding: 20px;
  grid-column: 1 / 3;
}
.grid-item {
  overflow: hidden;
}
.id-column {
  width: 10%;
}

.title-column {
  width: 75%;
}
.time-column {
  width: 15%;
}

th {
  color: white;
}
td {
  vertical-align: middle;
}
.icono {
  cursor: pointer;
  width: 20px;
  height: auto;
  display: block;
}
.td-id {
  position: relative;
}

.play-icon {
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
}
.td-id:hover .play-icon {
  display: block;
}

.td-id:hover .id-value {
  display: none;
}

.table-antara {
  background: transparent;
  color: #fff;
  border-style: none;
}
