<div class="grid-container">
  <div class="grid-item img-container">
    <img
      *ngIf="album.portadaUrl == null"
      src="../../../../assets/images/musica.png"
      class="imagen-playlist"
    />
    <img
      *ngIf="album.portadaUrl != null"
      src="{{ album.portadaUrl }}"
      alt="pordata_album.jpg"
      class="imagen-playlist"
    />
  </div>
  <div class="grid-item info-container">
    <h6>{{ album.descripcion }}</h6>
    <h1>{{ album.nombre }}</h1>
  </div>
  <!-- <hr /> -->
  <div class="table-responsive table-container">
    <table class="table table-antara">
      <thead>
        <tr>
          <th class="text-center id-column" scope="col">#</th>
          <th scope="col title-column">Titulo</th>
          <th></th>
          <th class="text-center time-column" scope="col">
            <i class="fas fa-clock"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pista of pistas; let i = index" #pistaRow>
          <td scope="row" class="text-center align-middle position-relative">
            <div class="pista-id">{{ i + 1 }}</div>
            <i class="fas fa-play iconos play" (click)="playSong(i)"></i>
            <i class="fas fa-pause iconos pause" (click)="pauseSong(i)"></i>
          </td>
          <td class="align-middle pista-nombre">{{ pista.nombre }}</td>
          <td>
            <img
              src="../../../../../../assets/images/icono_logo_blanco.png"
              alt=""
              srcset=""
            />
          </td>
          <td class="text-center align-middle">{{ pista.duracion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
