.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 30%;
}
.img-container {
  object-fit: fill;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-height: 150px;
  max-width: 150px;
  height: 100%;
  width: 100%;
}

.info-container {
  padding: 20px 0 0 20px;
}

.table-container {
  padding: 20px;
  grid-column: 1 / 3;
}
.grid-item {
  overflow: hidden;
}
.id-column {
  width: 10%;
}

.title-column {
  width: 75%;
}
.time-column {
  width: 15%;
}

th {
  color: white;
}
td {
  vertical-align: middle;
}
.icono {
  cursor: pointer;
  width: 20px;
  height: auto;
  display: block;
}
.td-id {
  position: relative;
}

.play-icon {
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
}
.td-id:hover .play-icon {
  display: block;
}

.td-id:hover .id-value {
  display: none;
}

.table-antara {
  background: transparent;
  color: #fff;
  border-style: none;
}

.imagen-playlist {
  width: 100%;
  height: auto;
  max-width: 250px;
}
.table-antara {
  background: transparent;
  color: #fff;
  border-style: none;
}
.table-antara td {
  border-style: none;
}

.table-antara tr:hover {
  background-color: #555;
  border-radius: 15px;
}

h5.etiqueta {
  color: white;
}
.etiqueta {
  color: rgb(18, 18, 18);
}
#fichero {
  display: none;
}

.agregar-pista {
  width: 100%;
  background: #212529;
  color: #fff;
}

.agregar-pista:hover {
  background: #2c3136;
}

hr {
  margin: 10px 0;
}

tr:hover .iconos.play {
  display: block;
}

tr.playing:hover .iconos.pause {
  display: block;
}
tr.playing:hover .iconos.play {
  display: none;
}

tr:hover .pista-id {
  display: none;
}
.iconos {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  display: none;
}

.playing .pista-nombre,
.playing .pista-id {
  color: rgb(1, 122, 255);
}

.paused .pista-nombre,
.paused .pista-id {
  color: rgb(1, 122, 255);
}

tr.paused:hover .iconos.pause {
  display: none;
}
tr.paused:hover .iconos.play {
  display: block;
}

.publicado {
  display: block;
  width: 150px;
  margin-bottom: 15px;
}
td > img {
  height: 20px;
  cursor: pointer;
}

.drop-show {
  color: #ccc;
  padding: 5px;
  border-radius: 5px;
}

ul.dropdown-menu {
  background-color: #2c3136;
}
button.dropdown-item {
  color: #ccc;
}
ul.dropdown-menu :hover button.dropdown-item {
  background-color: #888;
  color: #2c3136;
}
