<div class="row">
    <div class="col-lg-3">
        <img [src]="imagenUrl" class="imagen-playlist" *ngIf="imagenUrl!=null">
        <img src="../../../../assets/images/musica.png" class="imagen-playlist" *ngIf="imagenUrl==null">
    </div>
    <div class="col-lg-9">
        <h6>{{album.descripcion}}</h6>
        <h1>{{album.nombre}}</h1>
        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editar-playlist">
            <i class="fas fa-pencil-alt"></i>
            </button> |
        <button class="btn btn-success" (click)="registrarPlaylistBorrador()"><i class="far fa-save"></i></button> |
        <button class="btn btn-danger"><i class="fas fa-satellite"></i> Publicar</button>
    </div>
    <hr>
    <div class="col-lg-12">
        <table class="table table-antara">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Minutos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pista of pistas">
                    <th scope="row">{{pista.id}}</th>
                    <td>{{pista.nombre}}</td>
                    <td>{{pista.fechaRegistro}}</td>
                    <td>{{pista.reproducciones}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="editar-playlist" tabindex="-1" aria-labelledby="editar-playlist" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title etiqueta">Nuevo album</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="col-form-label etiqueta">Titulo del album:</label>
                        <input type="text" [(ngModel)]="album.nombre" name="nombre" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label etiqueta">Descripcion del album:</label>
                        <textarea class="form-control" [(ngModel)]="album.descripcion" name="descripcion"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label etiqueta">Imagen de portada:</label>
                        <input type="file" accept="image/*" (change)="seleccionaImagen($event)" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="mostrarImagen()">Guardar localmente</button>
            </div>
        </div>
    </div>
</div>
