<div class="row">
    <div class="col-lg-3">
        <img src="../../../../assets/images/musica.png" class="imagen-playlist">
    </div>
    <div class="col-lg-9">
        <h6>New playlist</h6>
        <h1>Mi playlist</h1>
        <button class="btn btn-dark">Editar</button>
    </div>
    <hr>
    <div class="col-lg-12">
        <table class="table table-antara">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Album</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Minutos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>