.clear-link{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.bg-indigo {
    --bs-bg-opacity: 1;
    background-color: #6610f2 !important;
  }

  .bg-purple {
    --bs-bg-opacity: 1;
    background-color: #6f42c1 !important;
  }
  .texto-centrado{
      text-align: left;
      padding: 10px;
  }