<div class="pista-container">
  <div class="pista-info">
    <div class="background"></div>
    <div class="portada-album">
      <img id="portada" src="../../../../../assets/images/musica.png" alt="" />
      <div class="center"></div>
    </div>
    <div class="pista">
      <div class="pista-data">
        <h4 id="title" class="title"></h4>
        <h6 id="interpreter" class="interpreter"></h6>
      </div>
      <div class="pista-progress">
        <h3 id="progress-time" class="time">00:00</h3>
        <div
          id="progress-bar"
          class="progresss-bar"
          (click)="setProgress($event)"
        >
          <div class="progress-circle"></div>
          <div class="progresss"></div>
        </div>
        <h3 id="duration-time" class="time">00:00</h3>
      </div>
    </div>
  </div>

  <audio
    src=""
    id="pista"
    type="audio/mpeg"
    preload="metadata"
    (timeupdate)="updateProgress($event)"
    (play)="paintRow()"
    (ended)="nextSong()"
  ></audio>

  <div class="navigation">
    <i id="random" class="fas fa-random"></i>
    <i id="prev" class="fas fa-backward" (click)="prevSong()"></i>
    <i id="play" class="fas fa-play" (click)="playSong()"></i>
    <i id="pause" class="fas fa-pause" (click)="pauseSong()"></i>
    <i id="next" class="fas fa-forward" (click)="nextSong()"></i>
    <i id="repeat" class="fas fa-redo-alt"></i>
  </div>
</div>
