<div class="card-black" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="../../../assets/images/album-sia.jpg"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8 card-info">
      <div class="information">
        <h4 class="title">Album name</h4>
        <h6 class="interpreter">Interprete</h6>
      </div>
      <a class="btn btn-primary button" [routerLink]="['album', id]">
        <i class="fas fa-play"></i>
      </a>
    </div>
  </div>
</div>
