.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  padding: 30px;
  border-radius: 4px;
  height: 220px;
}
.card-info {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 2.2rem;
  font-weight: 500;
}

.description {
  font-size: 1.2rem;
  font-weight: 300;
}

.card-img {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  width: auto;
  height: 100%;
  box-shadow: 10px 10px 0px -5px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 10px 10px 0px -5px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 10px 10px 0px -5px rgba(255, 255, 255, 0.7);
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  font-size: 24px;
  position: absolute;
  transform: translateY(25%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}

.card-reproducction:hover .btn-circle.btn-xl {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
