<div class="container-fluid">
    <h1>Contenido</h1>
    <div class="container">
        <div class="row card-publicidad">
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
        </div>
    </div>
</div>