<div class="container-fluid">
    <h1>Contenido</h1>
    <div class="container">
        <div class="row card-publicidad">
            <div class="col-12 p2">
                <h5>
                    Top de la semana 
                    <img src="../../../assets/images/logo_small_icon_only.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                </h5>
                
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
        </div>
    </div>
</div>