<h1>Explora</h1>
<div class="container-fluid">
    <div class="container">
        <div class="row card-publicidad">
            <div class="col-12 p2">
                <h5>
                    Top de la semana
                    <img src="../../../assets/images/logo_small_icon_only.png" alt="" width="30" height="30"
                        class="d-inline-block align-text-top">
                </h5>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
            <div class="col-3 p-2">
                <app-card-reproduccion></app-card-reproduccion>
            </div>
        </div>
    </div>
</div>
<hr>
<h3>Lo último que escuchaste</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 p-2">
            <app-card-large></app-card-large>
        </div>
        <div class="col-lg-4 p-2">
            <app-card-large></app-card-large>
        </div>
        <div class="col-lg-4 p-2">
            <app-card-large></app-card-large>
        </div>
        <div class="col-lg-4 p-2">
            <app-card-large></app-card-large>
        </div>
    </div>
</div>