<div class="row">
    <ul class="elements">
        <li class="title-secction">
            <span> MENU </span>
        </li>
        <li>
            <a href="/dashboard">
                <i class="far fa-compass"></i> Explorar
            </a>
        </li>
        <li>
            <a href="/dashboard/playlist">
                <i class="fas fa-play"></i> Playlist
            </a>
        </li>
        <li>
            <a href="/dashboard/library">
                <i class="far fa-bookmark"></i> Biblioteca
            </a>
        </li>
    </ul>
</div>