<div class="card-black" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        *ngIf="album.portadaUrl != null"
        src="{{ album.portadaUrl }}"
        class="img-fluid rounded-start"
        alt="..."
      />
      <img
        *ngIf="album.portadaUrl == null"
        src="../../../../../../../assets/images/musica.png"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8 card-info">
      <div class="information">
        <h4 class="title">{{ album.nombre }}</h4>
        <h6 class="interpreter">{{ album.interprete }}</h6>
      </div>
      <button class="btn btn-primary button" (click)="playAlbum()">
        <i class="fas fa-play"></i>
      </button>
    </div>
  </div>
</div>
