<div class="card card-album">
  <div class="card-img">
    <img
      src="{{ album.portadaUrl }}"
      alt="album-cover"
      *ngIf="album.portadaUrl != null"
    />
    <img
      src="../../../../assets/images/musica.png"
      alt="album-cover"
      *ngIf="album.portadaUrl == null"
    />
    <div class="opciones-icon" (click)="mostrarOpciones()">
      <div class="circle"></div>
      <i class="fas fa-ellipsis-v"></i>
    </div>
    <nav class="opciones" #opciones>
      <ul>
        <li (click)="eliminarAlbum()">Eliminar</li>
        <li *ngIf="album.estaPublicado==false" (click)="publicarPlaylist(album)">Publicar</li>
      </ul>
    </nav>
  </div>
  <div class="card-body">
    <div class="datos">
      <a
        [routerLink]="['/dashboard/album/edit/', album.id]"
        class="nombre-album"
        >{{ album.nombre }}</a
      >
      <h6 class="otros-datos">
        {{ album.fechaPublicacion | date: "yyyy" }} * Album
      </h6>
    </div>
  </div>
</div>
