.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.entrada-dato {
  margin-bottom: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
}
form .label {
  width: 100%;
  font-size: 1rem;
}
.form input:not([type="radio"]) {
  width: 100%;
  max-width: 600px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 1.15rem;
  font-family: "Quicksand", sans-serif;
}
.form input:not([type="radio"]):focus {
  border: 2px solid hsl(211, 99%, 50%);
  outline: none;
}

.form input[type="radio"] {
  margin: 0 5px;
}

.form input[type="password"] {
  padding-right: 35px;
}

.visibility {
  background-color: transparent;
  border: none;
  width: 25px;
  height: auto;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 57.5%;
  opacity: 0.5;
}

.visibility img {
  height: auto;
}
.radio {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.boton-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  display: block;
  width: 100%;
  max-width: 150px;
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  background-color: rgb(18, 73, 135);
  background-image: linear-gradient(
    135deg,
    rgba(18, 73, 135, 1) 0%,
    rgba(4, 121, 252, 1) 100%
  );
  background-size: 200%;
  color: #ddd;
  transition: all 0.6s;
}
.btn:hover {
  background-position: right;
  color: #fff;
}

.form p {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px 0;
}

.form a {
  color: hsl(211, 99%, 50%);
}

.invalido input:not([type="radio"]) {
  border: 2px solid hsl(0, 88%, 56%);
  background-color: hsl(5, 69%, 90%);
  background-image: url("../../design/assets/img/icon-error.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  padding-right: 35px;
}

.invalido .visibility {
  right: 12%;
}

.invalido .error-message {
  display: inline;
  width: 100%;
  color: hsl(0, 88%, 56%);
  font-weight: 600;
  font-size: 0.85rem;
  text-align: end;
  position: absolute;
  bottom: -25px;
}

.error-message {
  display: none;
}
